@charset "UTF-8";


  *{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
body,html {
    width: 100vw;
    height: 100vh;
    background-color: black;
}
img {
    width: 100vw;
}
a {
    display: block;
    text-align: center;
    background-color: rgb(106, 11, 11);
    padding: 20px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
a:hover {
    background-color: red;
}